# Ignorar pycache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Ignorar arquivos compilados do Python
*.pyc
*.pyd
*.pyo

# Pastas de cache do Python
*.egg-info/
.eggs/
*.egg

# Banco de dados SQLite (se usado)
*.sqlite3

# Ambiente virtual (caso use virtualenv)
env/
venv/
ENV/
.venv/

# Arquivos de IDEs (VS Code, PyCharm etc.)
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar pastas de migrations dentro dos apps
*/migrations/