{% load static %}

<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                   <img src="{% static 'image/icon.svg' %}" alt="Icon EstagiUP" class="img-fluid">
            </span>
            <div class="text logo-text">
                <span class="name">EstagiUP</span>
                <span class="profession">Dashboard</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url 'dashboard' %}">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                   <li class="nav-link">
                    <a href="{% url 'home' %}">
                        <i class='bx bx-home icon'></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'sobre' %}">
                        <i class='bx bx-info-circle icon'></i>
                        <span class="text nav-text">Sobre</span>
                    </a>
                </li>

                <!-- Links para alunos -->
                {% if request.user.is_authenticated and request.user.groups.all.0.name == 'Alunos' %}
                    <li class="nav-link">
                        <a href="{% url 'usuario:editar_perfil' %}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Meu Perfil</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'vaga:vaga_list' %}">
                            <i class='bx bx-briefcase-alt-2 icon'></i>
                            <span class="text nav-text">Buscar Vagas</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'curso:curso_list' %}">
                            <i class='bx bx-book icon'></i>
                            <span class="text nav-text">Cursos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'estagio:estagio_list' %}">
                            <i class='bx bx-file-blank icon'></i>
                            <span class="text nav-text">Meus Estágios</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'usuario:lista_usuarios' %}">
                            <i class='bx bx-group icon'></i>
                            <span class="text nav-text">Buscar Usuários</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Links para responsáveis de instituição -->
                {% if request.user.is_authenticated and request.user.groups.all.0.name == 'Responsaveis da Instituicao' %}
                    <li class="nav-link">
                        <a href="{% url 'instituicao:cadastrar' %}">
                            <i class='bx bx-building-house icon'></i>
                            <span class="text nav-text">Cadastrar Instituição</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'instituicao:minhas_instituicoes' %}">
                            <i class='bx bx-building icon'></i>
                            <span class="text nav-text">Minhas Instituições</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'vaga:vaga_create' %}">
                            <i class='bx bx-plus-circle icon'></i>
                            <span class="text nav-text">Adicionar Vaga</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'usuario:editar_perfil' %}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Meu Perfil</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Links para Supervisores -->
                {% if request.user.is_authenticated and request.user.groups.all.0.name == 'Supervisores' %}
                    <li>
                        <a href="{% url 'usuario:lista_usuarios' %}">
                            <i class='bx bx-group icon'></i>
                            <span class="text nav-text">Estagiários</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'usuario:editar_perfil' %}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Meu Perfil</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Links para Orientadores -->
                {% if request.user.is_authenticated and request.user.groups.all.0.name == 'Orientadores' %}
                    <li>
                        <a href="{% url 'usuario:lista_usuarios' %}">
                            <i class='bx bx-group icon'></i>
                            <span class="text nav-text">Alunos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'usuario:editar_perfil' %}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Meu Perfil</span>
                        </a>
                    </li>
                {% endif %}
                
                <!-- Links para administradores (superuser) -->
                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <li class="nav-link">
                        <a href="{% url 'usuario:editar_perfil' %}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Meu Perfil</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'instituicao:cadastrar' %}">
                            <i class='bx bx-building-house icon'></i>
                            <span class="text nav-text">Cadastrar Instituição</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'instituicao:minhas_instituicoes' %}">
                            <i class='bx bx-building icon'></i>
                            <span class="text nav-text">Minhas Instituições</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'vaga:vaga_list' %}">
                            <i class='bx bx-briefcase-alt-2 icon'></i>
                            <span class="text nav-text">Buscar Vagas</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'vaga:vaga_create' %}">
                            <i class='bx bx-plus-circle icon'></i>
                            <span class="text nav-text">Adicionar Vaga</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'curso:curso_list' %}">
                            <i class='bx bx-book icon'></i>
                            <span class="text nav-text">Cursos</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'estagio:estagio_list' %}">
                            <i class='bx bx-file-blank icon'></i>
                            <span class="text nav-text">Estágios</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'usuario:lista_usuarios' %}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Usuários</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'admin:index' %}">
                            <i class='bx bx-cog icon'></i>
                            <span class="text nav-text">Administração</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="bottom-content">
            {% if request.user.is_authenticated %}
            <li class="">
                <!-- Ação de Logout com formulário POST -->
                <form action="{% url 'logout' %}" method="post" id="logout-form">
                    {% csrf_token %}
                    <a href="javascript:void(0);" onclick="document.getElementById('logout-form').submit();">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Sair</span>
                    </a>
                </form>
            </li>
            {% else %}
            <li class="">
                <a href="{% url 'login' %}">
                    <i class='bx bx-log-in icon'></i>
                    <span class="text nav-text">Login</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'registrar' %}">
                    <i class='bx bx-user-plus icon'></i>
                    <span class="text nav-text">Registrar</span>
                </a>
            </li>
            {% endif %}
        </div>
    </div>
</nav>
