{% extends '_base_dashboard.html' %}
{% load static %}

{% block title %}Membros de {{ instituicao.nome }}{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <h2 class="text-white mb-4">Membros da Instituição: {{ instituicao.nome }}</h2>
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover rounded-3 overflow-hidden">
            <thead>
                <tr>
                    <th scope="col">Nome de Utilizador</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">País</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for membro in membros %}
                <tr>
                    <td>{{ membro.user.username }}</td>
                    <td>{{ membro.user.email }}</td>
                    <td>{{ membro.rua }}</td>
                    <td>{{ membro.bairro }}</td>
                    <td>{{ membro.cidade }}</td>
                    <td>{{ membro.estado }}</td>
                    <td>{{ membro.pais }}</td>
                    <td>{{ membro.telefone }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">Nenhum membro encontrado para esta instituição.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
