{% extends '_base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="container auth-wrapper">
    <div class="glass-card-auth p-5">
        <div class="text-center mb-4">
            <h1 class="mb-4 fs-1">Perfil da Instituição:</h1>
            <p class="auth-title fw-bold display-6"">{{ instituicao.nome }}</p>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-3 fs-5">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="row g-4">
            <div class="col-md-6">
                <div class="card bg-transparent text-white border-0">
                    <div class="card-body glass-card-body p-4">
                        <h5 class="card-title fw-bold text-center mb-3 fs-2">Dados da Instituição</h5>
                        <ul class="list-unstyled">
                             <li class="mb-2 fs-5">
                                <strong class="me-2">Endereço:</strong> 
                                {{ instituicao.rua }}, {{ instituicao.bairro }} - {{ instituicao.cidade }}, {{ instituicao.estado }}
                            </li>
                            <li class="mb-2 fs-5"><strong class="me-2">Telefone:</strong> {{ instituicao.telefone }}</li>
                            <li class="mb-2 fs-5"><strong class="me-2">CNPJ:</strong> {{ instituicao.cnpj }}</li>
                            <li class="mb-2 fs-5"><strong class="me-2">Tipo:</strong> {{ instituicao.get_tipo_display }}</li>
                            <li class="mb-2 fs-5"><strong class="me-2">Status:</strong>
                                {% if instituicao.status %}
                                <span class="badge bg-success">Ativa</span>
                                {% else %}
                                <span class="badge bg-danger">Inativa</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card bg-transparent text-white border-0">
                    <div class="card-body glass-card-body p-4">
                        <h5 class="card-title fw-bold text-center mb-3 fs-2">Responsáveis</h5>
                        {% if responsaveis %}
                            <ul class="list-unstyled">
                            {% for responsavel in responsaveis %}
                                <li class="mb-2 fs-5">
                                    <strong class="me-2">Nome:</strong> {{ responsavel.username }}
                                    <br>
                                    <strong class="me-2">Email:</strong> {{ responsavel.email }}
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-center">Nenhum responsável associado.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5 gap-3">
            <a href="{% url 'vaga:vaga_create' instituicao_id=instituicao.id %}" class="btn btn-success-custom btn-lg">Adicionar Vaga</a>

            <a href="{% url 'instituicao:editar_instituicao' instituicao_id=instituicao.id %}" class="btn btn-primary-custom btn-lg">Editar Instituição</a>
            <a href="{% url 'instituicao:apagar_instituicao' instituicao_id=instituicao.id %}" class="btn btn-danger-custom btn-lg">Apagar Instituição</a>
        </div>
    </div>
</div>
{% endblock %}